*.swp
*.jpg
*.png
smpl/
tmp/
pretrained_models/
.vscode/
test_result/
log/
log.txt
checkpoints/
evaluate_results/
*.pyc
*.npy
test_log.txt
*.pkl
pretrained/
render_result/
lightweight-human-pose-estimation.pytorch/
data/*
detectors/
data
samples_all/
*.zip
extra_data/
sample_data/
mocap_output/
demo.sh
demo_multi.sh
visualizer/data/body_models
tracking/*mp4
optimize/*mp4
optimize/output_parameters
optimize/models
mocap_temp/
frames
hand_data
colmap/
hand_detector2d/output
hand_detector2d/*mp4
feature_matching/extrinsics