pip
gdown
opencv-python
PyOpenGL 
PyOpenGL_accelerate
pycocotools
pafy
youtube-dl
pillow>=7.1.0
easydict
cython
cffi
msgpack
pyyaml
tensorboardX
tqdm
jinja2
sklearn
opendr
ipdb==0.13.9
joblib==1.1.0
loguru==0.5.3
matplotlib==3.5.1
numpy==1.21.5
open3d==0.14.1
scipy==1.7.3
tqdm==4.62.3
smplx==0.1.28
chumpy==0.70